USE [master]
GO
/****** Object:  Database [BD_NAVIDAD]    Script Date: 14-12-2025 23:46:16 ******/
CREATE DATABASE [BD_NAVIDAD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_NAVIDAD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\BD_NAVIDAD.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_NAVIDAD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\BD_NAVIDAD_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_NAVIDAD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_NAVIDAD]
GO
/****** Object:  User [testeo]    Script Date: 14-12-2025 23:46:16 ******/
CREATE USER [testeo] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[A_NINOS]    Script Date: 14-12-2025 23:46:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A_NINOS](
	[id] [int] NOT NULL,
	[dni] [nvarchar](32) NULL,
	[nombre] [nvarchar](200) NOT NULL,
	[sexo] [tinyint] NULL,
	[edad] [tinyint] NULL,
	[fechaNacimiento] [date] NULL,
	[idNacionalidad] [int] NULL,
	[idEtnia] [int] NULL,
	[estado] [tinyint] NULL,
	[periodo] [int] NULL,
	[checkCeguera] [bit] NULL,
	[checkSordera] [bit] NULL,
	[checkMudez] [bit] NULL,
	[checkFisica] [bit] NULL,
	[checkMental] [bit] NULL,
	[checkPsiquica] [bit] NULL,
	[descripcion] [nvarchar](500) NULL,
	[idOrganizacion] [int] NULL,
	[idPersonalRegistro] [int] NULL,
	[fechaRegistro] [datetime] NULL,
	[checkExtranjero] [bit] NULL,
	[checkDiscapacitado] [bit] NULL,
	[checkRSH] [bit] NULL,
	[porcentajeCeguera] [tinyint] NULL,
	[porcentajeSordera] [tinyint] NULL,
	[porcentajeMudez] [tinyint] NULL,
	[porcentajeFisica] [tinyint] NULL,
	[porcentajeMental] [tinyint] NULL,
	[porcentajePsiquica] [tinyint] NULL,
 CONSTRAINT [PK_A_NINOS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[discapacidad_nino]    Script Date: 14-12-2025 23:46:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[discapacidad_nino](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nino_id] [bigint] NOT NULL,
	[discapacidad_id] [int] NOT NULL,
	[porcentaje] [tinyint] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_discapacidad_nino_pair] UNIQUE NONCLUSTERED 
(
	[nino_id] ASC,
	[discapacidad_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[discapacidades]    Script Date: 14-12-2025 23:46:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[discapacidades](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](255) NOT NULL,
	[categoria] [nvarchar](150) NULL,
	[codigo] [nvarchar](20) NULL,
	[descripcion] [nvarchar](max) NULL,
	[activo] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[etnias]    Script Date: 14-12-2025 23:46:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[etnias](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](255) NOT NULL,
	[codigo] [nvarchar](10) NULL,
	[descripcion] [nvarchar](500) NULL,
	[activo] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[logs]    Script Date: 14-12-2025 23:46:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[accion] [nvarchar](150) NOT NULL,
	[mensaje] [nvarchar](max) NULL,
	[loggable_type] [nvarchar](150) NOT NULL,
	[loggable_id] [bigint] NOT NULL,
	[payload] [nvarchar](max) NULL,
	[ip] [nvarchar](100) NULL,
	[user_agent] [nvarchar](300) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nacionalidades]    Script Date: 14-12-2025 23:46:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nacionalidades](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](255) NOT NULL,
	[iso] [nvarchar](3) NULL,
	[gentilicio] [nvarchar](120) NULL,
	[activo] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ninos]    Script Date: 14-12-2025 23:46:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ninos](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[documento_numero] [nvarchar](50) NOT NULL,
	[tipo_documento_id] [int] NULL,
	[nombres] [nvarchar](200) NOT NULL,
	[apellidos] [nvarchar](200) NULL,
	[fecha_nacimiento] [date] NULL,
	[sexo] [nvarchar](1) NULL,
	[nacionalidad_id] [int] NULL,
	[persona_registro_id] [int] NULL,
	[organizacion_id] [bigint] NULL,
	[periodo_id] [int] NOT NULL,
	[es_prioritario] [bit] NOT NULL,
	[edad] [tinyint] NULL,
	[tiene_discapacidad] [bit] NOT NULL,
	[fecha_ingreso] [date] NULL,
	[fecha_retiro] [date] NULL,
	[estado] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
 CONSTRAINT [PK_ninos_new] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ninos_new_doc_tipo] UNIQUE NONCLUSTERED 
(
	[tipo_documento_id] ASC,
	[documento_numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[organizacion_periodo]    Script Date: 14-12-2025 23:46:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[organizacion_periodo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[organizacion_id] [bigint] NOT NULL,
	[periodo_id] [int] NOT NULL,
	[estado] [nvarchar](50) NOT NULL,
	[fecha_asignacion] [date] NULL,
	[fecha_cierre] [date] NULL,
	[observaciones] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_organizacion_periodo_pair] UNIQUE NONCLUSTERED 
(
	[organizacion_id] ASC,
	[periodo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[organizacion_persona]    Script Date: 14-12-2025 23:46:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[organizacion_persona](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[organizacion_id] [bigint] NOT NULL,
	[persona_id] [int] NOT NULL,
	[es_principal] [bit] NOT NULL,
	[es_reserva] [bit] NOT NULL,
	[activo] [bit] NOT NULL,
	[fecha_asignacion] [date] NULL,
	[fecha_desactivacion] [date] NULL,
	[observaciones] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_organizacion_persona_pair] UNIQUE NONCLUSTERED 
(
	[organizacion_id] ASC,
	[persona_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[organizaciones]    Script Date: 14-12-2025 23:46:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[organizaciones](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](250) NOT NULL,
	[sigla] [nvarchar](50) NULL,
	[rut] [nvarchar](12) NULL,
	[tipo] [nvarchar](100) NOT NULL,
	[direccion] [nvarchar](300) NULL,
	[telefono] [nvarchar](20) NULL,
	[email] [nvarchar](320) NULL,
	[providencia_id] [int] NULL,
	[estado] [nvarchar](50) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[periodos]    Script Date: 14-12-2025 23:46:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[periodos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](200) NOT NULL,
	[fecha_inicio] [date] NULL,
	[fecha_fin] [date] NULL,
	[estado_periodo] [nvarchar](50) NOT NULL,
	[es_activo] [bit] NOT NULL,
	[descripcion] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permissions]    Script Date: 14-12-2025 23:46:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permissions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[resource] [nvarchar](50) NOT NULL,
	[action] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_permissions_resource_action] UNIQUE NONCLUSTERED 
(
	[resource] ASC,
	[action] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personas]    Script Date: 14-12-2025 23:46:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombres] [nvarchar](200) NOT NULL,
	[apellidos] [nvarchar](200) NOT NULL,
	[run] [nvarchar](12) NULL,
	[dv] [nvarchar](2) NULL,
	[fecha_nacimiento] [date] NULL,
	[sexo] [nvarchar](1) NULL,
	[telefono] [nvarchar](20) NULL,
	[email] [nvarchar](320) NULL,
	[email_verified_at] [datetime2](7) NULL,
	[password] [nvarchar](255) NULL,
	[remember_token] [nvarchar](100) NULL,
	[direccion] [nvarchar](300) NULL,
	[providencia_id] [int] NULL,
	[role_id] [int] NULL,
	[es_representante] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[providencias]    Script Date: 14-12-2025 23:46:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[providencias](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](255) NOT NULL,
	[codigo] [nvarchar](10) NULL,
	[region] [nvarchar](150) NULL,
	[comuna] [nvarchar](150) NULL,
	[descripcion] [nvarchar](max) NULL,
	[activo] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_permissions]    Script Date: 14-12-2025 23:46:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_permissions](
	[role_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
 CONSTRAINT [PK_role_permissions] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC,
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 14-12-2025 23:46:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role_key] [nvarchar](50) NOT NULL,
	[name] [nvarchar](120) NOT NULL,
	[description] [nvarchar](255) NULL,
	[rank] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[role_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_documentos]    Script Date: 14-12-2025 23:46:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_documentos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](255) NOT NULL,
	[codigo] [nvarchar](10) NOT NULL,
	[descripcion] [nvarchar](500) NULL,
	[activo] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_logs_accion]    Script Date: 14-12-2025 23:46:16 ******/
CREATE NONCLUSTERED INDEX [IX_logs_accion] ON [dbo].[logs]
(
	[accion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_logs_loggable]    Script Date: 14-12-2025 23:46:16 ******/
CREATE NONCLUSTERED INDEX [IX_logs_loggable] ON [dbo].[logs]
(
	[loggable_type] ASC,
	[loggable_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ninos_new_estado_periodo]    Script Date: 14-12-2025 23:46:16 ******/
CREATE NONCLUSTERED INDEX [IX_ninos_new_estado_periodo] ON [dbo].[ninos]
(
	[estado] ASC,
	[periodo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_organizacion_persona_principal]    Script Date: 14-12-2025 23:46:16 ******/
CREATE NONCLUSTERED INDEX [IX_organizacion_persona_principal] ON [dbo].[organizacion_persona]
(
	[organizacion_id] ASC,
	[es_principal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_organizaciones_estado]    Script Date: 14-12-2025 23:46:16 ******/
CREATE NONCLUSTERED INDEX [IX_organizaciones_estado] ON [dbo].[organizaciones]
(
	[estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_personas_nombres_apellidos]    Script Date: 14-12-2025 23:46:16 ******/
CREATE NONCLUSTERED INDEX [IX_personas_nombres_apellidos] ON [dbo].[personas]
(
	[nombres] ASC,
	[apellidos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[discapacidad_nino] ADD  CONSTRAINT [DF_discapacidad_nino_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[discapacidad_nino] ADD  CONSTRAINT [DF_discapacidad_nino_updated_at]  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[discapacidades] ADD  CONSTRAINT [DF_discapacidades_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[discapacidades] ADD  CONSTRAINT [DF_discapacidades_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[discapacidades] ADD  CONSTRAINT [DF_discapacidades_updated_at]  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[etnias] ADD  CONSTRAINT [DF_etnias_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[etnias] ADD  CONSTRAINT [DF_etnias_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[etnias] ADD  CONSTRAINT [DF_etnias_updated_at]  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[logs] ADD  CONSTRAINT [DF_logs_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[logs] ADD  CONSTRAINT [DF_logs_updated_at]  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[nacionalidades] ADD  CONSTRAINT [DF_nacionalidades_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[nacionalidades] ADD  CONSTRAINT [DF_nacionalidades_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[nacionalidades] ADD  CONSTRAINT [DF_nacionalidades_updated_at]  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[ninos] ADD  CONSTRAINT [DF_ninos_new_es_prioritario]  DEFAULT ((0)) FOR [es_prioritario]
GO
ALTER TABLE [dbo].[ninos] ADD  CONSTRAINT [DF_ninos_new_tiene_discapacidad]  DEFAULT ((0)) FOR [tiene_discapacidad]
GO
ALTER TABLE [dbo].[ninos] ADD  CONSTRAINT [DF_ninos_new_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[ninos] ADD  CONSTRAINT [DF_ninos_new_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[ninos] ADD  CONSTRAINT [DF_ninos_new_updated_at]  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[organizacion_periodo] ADD  CONSTRAINT [DF_organizacion_periodo_estado]  DEFAULT ('pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[organizacion_periodo] ADD  CONSTRAINT [DF_organizacion_periodo_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[organizacion_periodo] ADD  CONSTRAINT [DF_organizacion_periodo_updated_at]  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[organizacion_persona] ADD  CONSTRAINT [DF_organizacion_persona_es_principal]  DEFAULT ((0)) FOR [es_principal]
GO
ALTER TABLE [dbo].[organizacion_persona] ADD  CONSTRAINT [DF_organizacion_persona_es_reserva]  DEFAULT ((0)) FOR [es_reserva]
GO
ALTER TABLE [dbo].[organizacion_persona] ADD  CONSTRAINT [DF_organizacion_persona_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[organizacion_persona] ADD  CONSTRAINT [DF_organizacion_persona_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[organizacion_persona] ADD  CONSTRAINT [DF_organizacion_persona_updated_at]  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[organizaciones] ADD  CONSTRAINT [DF_organizaciones_tipo]  DEFAULT ('otro') FOR [tipo]
GO
ALTER TABLE [dbo].[organizaciones] ADD  CONSTRAINT [DF_organizaciones_estado]  DEFAULT ('borrador') FOR [estado]
GO
ALTER TABLE [dbo].[organizaciones] ADD  CONSTRAINT [DF_organizaciones_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[organizaciones] ADD  CONSTRAINT [DF_organizaciones_updated_at]  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[periodos] ADD  CONSTRAINT [DF_periodos_estado_periodo]  DEFAULT ('borrador') FOR [estado_periodo]
GO
ALTER TABLE [dbo].[periodos] ADD  CONSTRAINT [DF_periodos_es_activo]  DEFAULT ((0)) FOR [es_activo]
GO
ALTER TABLE [dbo].[periodos] ADD  CONSTRAINT [DF_periodos_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[periodos] ADD  CONSTRAINT [DF_periodos_updated_at]  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[permissions] ADD  CONSTRAINT [DF_permissions_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[permissions] ADD  CONSTRAINT [DF_permissions_updated_at]  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[personas] ADD  CONSTRAINT [DF_personas_es_representante]  DEFAULT ((0)) FOR [es_representante]
GO
ALTER TABLE [dbo].[personas] ADD  CONSTRAINT [DF_personas_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[personas] ADD  CONSTRAINT [DF_personas_updated_at]  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[providencias] ADD  CONSTRAINT [DF_providencias_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[providencias] ADD  CONSTRAINT [DF_providencias_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[providencias] ADD  CONSTRAINT [DF_providencias_updated_at]  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[roles] ADD  CONSTRAINT [DF_roles_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[roles] ADD  CONSTRAINT [DF_roles_updated_at]  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[tipo_documentos] ADD  CONSTRAINT [DF_tipo_documentos_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[tipo_documentos] ADD  CONSTRAINT [DF_tipo_documentos_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[tipo_documentos] ADD  CONSTRAINT [DF_tipo_documentos_updated_at]  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[discapacidad_nino]  WITH CHECK ADD FOREIGN KEY([discapacidad_id])
REFERENCES [dbo].[discapacidades] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[discapacidad_nino]  WITH CHECK ADD  CONSTRAINT [FK_discapacidad_nino_ninos] FOREIGN KEY([nino_id])
REFERENCES [dbo].[ninos] ([id])
GO
ALTER TABLE [dbo].[discapacidad_nino] CHECK CONSTRAINT [FK_discapacidad_nino_ninos]
GO
ALTER TABLE [dbo].[logs]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[personas] ([id])
GO
ALTER TABLE [dbo].[ninos]  WITH CHECK ADD  CONSTRAINT [FK_ninos_organizaciones] FOREIGN KEY([organizacion_id])
REFERENCES [dbo].[organizaciones] ([id])
GO
ALTER TABLE [dbo].[ninos] CHECK CONSTRAINT [FK_ninos_organizaciones]
GO
ALTER TABLE [dbo].[ninos]  WITH CHECK ADD  CONSTRAINT [FK_ninos_periodos] FOREIGN KEY([periodo_id])
REFERENCES [dbo].[periodos] ([id])
GO
ALTER TABLE [dbo].[ninos] CHECK CONSTRAINT [FK_ninos_periodos]
GO
ALTER TABLE [dbo].[ninos]  WITH CHECK ADD  CONSTRAINT [FK_ninos_tipo_documentos] FOREIGN KEY([tipo_documento_id])
REFERENCES [dbo].[tipo_documentos] ([id])
GO
ALTER TABLE [dbo].[ninos] CHECK CONSTRAINT [FK_ninos_tipo_documentos]
GO
ALTER TABLE [dbo].[organizacion_periodo]  WITH CHECK ADD FOREIGN KEY([organizacion_id])
REFERENCES [dbo].[organizaciones] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[organizacion_periodo]  WITH CHECK ADD FOREIGN KEY([periodo_id])
REFERENCES [dbo].[periodos] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[organizacion_persona]  WITH CHECK ADD FOREIGN KEY([organizacion_id])
REFERENCES [dbo].[organizaciones] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[organizacion_persona]  WITH CHECK ADD FOREIGN KEY([persona_id])
REFERENCES [dbo].[personas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[organizaciones]  WITH CHECK ADD FOREIGN KEY([providencia_id])
REFERENCES [dbo].[providencias] ([id])
GO
ALTER TABLE [dbo].[personas]  WITH CHECK ADD FOREIGN KEY([providencia_id])
REFERENCES [dbo].[providencias] ([id])
GO
ALTER TABLE [dbo].[personas]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD FOREIGN KEY([permission_id])
REFERENCES [dbo].[permissions] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[discapacidad_nino]  WITH CHECK ADD  CONSTRAINT [CK_discapacidad_nino_pct] CHECK  (([porcentaje]>=(0) AND [porcentaje]<=(100)))
GO
ALTER TABLE [dbo].[discapacidad_nino] CHECK CONSTRAINT [CK_discapacidad_nino_pct]
GO
USE [master]
GO
